body {
    font-family: arial, sans-serif;
    position: absolute;
    left: 10%;
    background-color: #fff;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-size: 5px;
  background-color: #f7f7f7 ;
}
h2 {
  position: sticky;
  padding: 10px;
  background-color: white;
  top: 0;

}
h3 {
  border-bottom: 2px solid #dddddd;
}
h4 {
  color: grey;
}
header {
    position: sticky;
    background-color: white;
    top: 0;
    font-size: 20px;
    border-bottom: 2px solid #dddddd ;
}